<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="layouts/fragments :: navigation"></nav>

    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h3 class="brand-heading">Welcome<br><h2>User01</h2></h3>
                        <p class="intro-text">Thanks for joining</p>

                    </div>
                </div>
            </div>
        </div>
    </header>
<!--billInfoModal-->
<div th:replace="layouts/fragments :: billInfoModal"></div>
<!-- BillPayModal -->
<div th:replace="layouts/fragments :: BillPayModal"></div>
<!-- UnpaidBillPayModal -->
<div th:replace="layouts/fragments :: unpaidBillModal"></div>

</body>
</html>