<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="layouts/fragments :: navigation"></nav>

<!-- Intro Header -->
<header class="masthead">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto">
                        <!--<div th:if="${billInfo != null}">-->

                            <!--<div th:each="messages : ${billInfo}">-->
                                <!--<h1 style="margin-top: 15%;" th:text="${messages.message}"></h1>-->
                                <!--<h1 th:text="${messages.status}"></h1>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div th:unless="${billInfo}">-->
                            <!--<h5>No record found please check your Bill Number</h5>-->
                        <!--</div>-->

                    <h1 th:text="${billInfo}"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--billInfoModal-->
<div th:replace="layouts/fragments :: billInfoModal"></div>
<!-- BillPayModal -->
<div th:replace="layouts/fragments :: BillPayModal"></div>
<!-- UnpaidBillPayModal -->
<div th:replace="layouts/fragments :: unpaidBillModal"></div>

</body>
</html>