<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="layouts/fragments :: navigation"></nav>

<!-- Intro Header -->
<header class="masthead">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto" th:if="${billInfo != null}">
                    <h1 style="margin-top: 15%;">Bill Information</h1>
                    <div class=" table-responsive table-hover"
                         style=" max-height: 45%; overflow-y: auto">

                        <table class="table table-striped ">
                            <thead class="">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Type</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody th:each="BillInfo : ${billInfo}">
                            <tr>
                                <th scope="row">1</th>
                                <td>Issue Date</td>
                                <td th:text="${BillInfo.issue_date}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Due Date</td>
                                <td th:text="${BillInfo.due_date}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>CustomerNumber</td>
                                <td th:text="${BillInfo.customerNumber}">Otto</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Bill Number</td>
                                <td th:text="${BillInfo.billNumber}">Thornton</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Transition ID</td>
                                <td th:text="${BillInfo.utility_trnxn_id}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>BankTransition ID</td>
                                <td th:text="${BillInfo.bank_trnxn_id}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Payment status</td>
                                <td th:text="${BillInfo.billStatus.meaning}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td>Bill amount</td>
                                <td th:text="${BillInfo.bill_amount}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>Vat amount</td>
                                <td th:text="${BillInfo.vat_amount}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>Total amount</td>
                                <td th:text="${BillInfo.total_amount}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>Paid amount</td>
                                <td th:text="${BillInfo.paid_amount}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>Pay Date</td>
                                <td th:text="${BillInfo.pay_date}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>Paid By</td>
                                <td th:text="${BillInfo.paid_by}">the Bird</td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>Due amount</td>
                                <td th:text="${BillInfo.due_amount}">the Bird</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div th:unless="${billInfo}" class="container">
                    <h5>No record found please check your Bill Number</h5>
                </div>
            </div>
        </div>
    </div>
</header>

<!--billInfoModal-->
<div th:replace="layouts/fragments :: billInfoModal"></div>
<!-- BillPayModal -->
<div th:replace="layouts/fragments :: BillPayModal"></div>
<!-- UnpaidBillPayModal -->
<div th:replace="layouts/fragments :: unpaidBillModal"></div>

</body>
</html>