<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/fragments :: head"></head>
<body>
<!-- Navigation -->
<nav th:replace="layouts/fragments :: navigation"></nav>
<!-- Intro Header -->
<header class="masthead">
    <div class="intro-body">
        <div class="container" >
            <h1>Unpaid Bill List</h1>

            <div class="table-responsive">

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="col-sm-7">IssueDate</th>
                        <th scope="col">DueDate</th>
                        <th scope="col">CustomerNumber</th>
                        <th scope="col">BillNumber</th>
                        <th scope="col">TransitionID</th>
                        <th scope="col">BankTransitionID</th>
                        <th scope="col">PaymentStatus</th>
                        <th scope="col">BillAmount</th>
                        <th scope="col">VatAmount</th>
                        <th scope="col">TotalAmount</th>
                        <th scope="col">PaidAmount</th>
                        <th scope="col">PayDate</th>
                        <th scope="col">PaidBy</th>
                        <th scope="col">DueAmount</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody th:each="BillInfo : ${billInfo}">
                    <tr>
                        <th scope="row" th:text="${BillInfo.id}">1</th>
                        <td th:text="${BillInfo.issue_date}" style="min-width: 112px">Mark</td>
                        <td th:text="${BillInfo.due_date}" style="min-width: 112px">Otto</td>
                        <td th:text="${BillInfo.customerNumber}">@mdo</td>
                        <td th:text="${BillInfo.billNumber}">Mark</td>
                        <td th:text="${BillInfo.utility_trnxn_id}">Otto</td>
                        <td th:text="${BillInfo.bank_trnxn_id}">@mdo</td>
                        <td th:text="${BillInfo.billStatus.meaning}">Mark</td>
                        <td th:text="${BillInfo.bill_amount}">Otto</td>
                        <td th:text="${BillInfo.vat_amount}">@mdo</td>
                        <td th:text="${BillInfo.total_amount}">Mark</td>
                        <td th:text="${BillInfo.paid_amount}">Otto</td>
                        <td th:text="${BillInfo.pay_date}" style="min-width: 112px">Otto</td>
                        <td th:text="${BillInfo.paid_by}">Otto</td>
                        <td th:text="${BillInfo.due_amount}">Otto</td>
                        <td>
                            <a th:href="@{one/(id=${BillInfo.billNumber})}" class="btn btn-outline-success btn-sm badge  pBtn">Pay</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</header>
<!--billInfoModal-->
<div th:replace="layouts/fragments :: billInfoModal"></div>
<!-- BillPayModal -->
<div th:replace="layouts/fragments :: BillPayModal"></div>
<!-- UnpaidBillPayModal -->
<div th:replace="layouts/fragments :: unpaidBillModal"></div>

<div class="myForm">
    <form th:action="@{pay}" method="post">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-info" id="exampleModalLabel">Payment</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <!--<label for="billNumber" class="col-form-label text-dark">Bill Number:</label>-->
                            <input type="hidden" class="form-control" id="billNumber" name="billNumber" value=""/>
                        </div>
                        <div class="form-group">
                            <label for="paidAmount" class="col-form-label text-dark">Amount:</label>
                            <input type="number" step="0.01" class="form-control" id="paidAmount" name="paidAmount" placeholder="Enter amount here..."/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="submit"/>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

</body>
</html>